In this Notebook we'll go over some of the improvements brought to BlazingSQL with v0.13. You can find the full release [here on GitHub](https://github.com/BlazingDB/blazingsql/releases/tag/v0.13.0).

In [1]:
from blazingsql import BlazingContext
from dask_cuda import LocalCUDACluster
from dask.distributed import Client

cluster = LocalCUDACluster()
client = Client(cluster)

bc = BlazingContext(dask_client=client, network_interface='lo')

BlazingContext ready

#### Register Public AWS S3 bucket without credentials

In [ ]:
bc.s3('blazingsql-colab', bucket_name='blazingsql-colab')

bc.create_table('taxi', 's3://blazingsql-colab/yellow_taxi/1_0_0.parquet')

#### Added Support for ROUND

In [2]:
bc.sql('select ROUND(avg(passenger_count)) from taxi').compute()

   EXPR$0
0     2.0

#### Added CASE Support for String

In [3]:
bc.sql("select CASE WHEN store_and_fwd_flag = 'N' THEN 'lol' ELSE 'this works' END AS t from taxi").compute().t.value_counts()

lol           18751623
this works       75208
Name: t, dtype: int32

#### Added AVG for Distributed Queries

In [4]:
bc.sql('select AVG(passenger_count) from taxi').compute()

   AVG(passenger_count)
0               1.62768